<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="../assets/image/covid_logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Covid-19 India
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="z-index: 20;">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        <a class="nav-link" routerLink="/chat-bot">Chat Bot</a>
      </div>
    </div>
  </div>
</nav>
