<app-data-card></app-data-card>
<app-data-progress-bar></app-data-progress-bar>
<div style="position: relative;">
  <div class="option-container row">
    <div class="col-4 {{selected=='table'?'option-select':'option'}}" (click)="change_select('table')">
      Table
    </div>
    <div class="col-4 {{selected=='graph'?'option-select':'option'}}" (click)="change_select('graph')">
      Chart
    </div>
    <div class="col-4 {{selected=='map'?'option-select':'option'}}" (click)="change_select('map')">
      Map
    </div>
  </div>
</div>
<app-data-table *ngIf="selected=='table'"></app-data-table>
<app-data-linechart *ngIf="selected=='graph' && !is_phone"></app-data-linechart>
<app-data-maps *ngIf="selected=='map'"></app-data-maps>
<app-line-chart *ngIf="selected=='graph' && is_phone"></app-line-chart>